
body{margin-left: 0%;margin-right: 0%;}
/*nav{text-align: end;}*/
nav ul{list-style: none;    display: flex;
    justify-content: space-between;
    margin-left: 85%;
    margin-right:1%;
    font-family: arial,sans-serif;
    font-size: smaller;
    font-weight: 0.8em;
    /* vertical-align: middle; */}
li:nth-child(1){padding-top: 4px;font-family: arial,sans-serif ;}
#logo{background: url("../static/googlelogo_color_272x92dp.png") no-repeat;position: relative;height: 140px;
background-position: center;}
#form{text-align: center;}
#search{border-radius: 20px;border: 1px solid #dad6d6;height: 45px;width: 550px;background:url("../static/outline_settings_voice_black_24dp.png") no-repeat
510px 8px,url("../static/outline_search_black_24dp.png") no-repeat 8px 8px;}
/*background-position: 510px 8px;/*background: url("../static/outline_search_black_24dp.png") no-repeat;*/
#text{font-family: arial,sans-serif;font-size: small;}
em {color:blue;}
em:hover{text-decoration: underline;}
#buttons input {    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    font-family: arial,sans-serif;
    background-color: #f8f9fa;
    height: 35px;
    width: 150px;
    /* font-weight: 20; */
    color: #3c4043;
    line-height: 27px;
    text-align: center;
    cursor: pointer;}
#bottom_links{display: flex;justify-content: space-between;}
#bottom_links ul {list-style: none;display: flex;justify-content: space-between;text-decoration: none;list-style-type: none;
}
#bottom_links li {margin: 0;padding: 0;}
li a {text-decoration: none;color: #868383;font-family: arial,sans-serif;}
li a:hover {text-decoration: underline;}
#bottom_links ul:nth-child(1){width:45%;}
#bottom_links ul:nth-child(2){width:25%;margin-right: 30px;}
footer{background-color: #f3f3f3;margin-top: 14%;}
#loc{border-bottom: 1px solid #d2cdcd;color:#868383;}
#loc p {margin-left: 38px;padding-top: 10px;font-family: arial,sans-serif;}
    /* vertical-align: middle; */
    /* text-align: center; */
    /* padding-bottom: 4px; */}
/*#loc p {vertical-align: middle;}*/
